@model TicketverkaufMM.ViewModels.ReservierungCreateViewModel

@{
    ViewData["Title"] = "Reservierungen";
}

<h1>Reservierungen</h1>

<p>Hier kommt später die Übersicht der Reservierungen hinen.</p>

<a asp-action="Create" class="btn btn-primary">
    Neue Reservierungen erstellen
</a>