@model TicketverkaufMM.ViewModels.ReservierungCreateViewModel

@{
    ViewData["Title"] = "Erfolgreich";
}

<h1>Reservierungen gespeichert</h1>

<p>Die Reservierung wurde erfolgreich gespeichert.</p>

<a asp-action="Create" class="btn btn-primary">Neue Reservierung</a>
<a asp-action="Index" class="btn btn-secondary">Zurück</a>