@model TicketverkaufMM.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body p-4">
                <h2 class="card-title text-center mb-4">Login</h2>

                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="email@beispiel.at" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Passwort" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Einloggen</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}